:root {
    --prim-color: orange;
    --sec-color: yellow;
    --tert-color: blue;
    --quad-color: orangered;
}

#quiz-box, #reset-game, #wrong-alert, #highscore-box{
    display: none;
}

.progress {
    visibility: hidden;
}

button{
    display: block;
}

.quiz-question {
    background-color: var(--prim-color);
    color: white;
}

ul {
    list-style-type: none;
}

.btn-choice {
    background-color: var(--sec-color);
    color: white;
    text-shadow: 0 0 4px black;
}

.btn-choice:hover {
    background-color: var(--quad-color);
    color: white;
}

.btn-set-quiz {
    background-color: var(--tert-color);
    color: white;
}

.btn-set-quiz:hover {
    background-color: var(--quad-color);
    color: white;
}

.bg-progress {
    background-color: var(--quad-color);
}